<li class="border list-unstyled">
    <div class="row">
        <div class="col-1" *ngIf="checkboxes">
            <input type="checkbox" [(ngModel)]="checked" (change)="checkHandler()">
        </div>

        <div class="media col">
            <img class="mr-3" src={{product.img}} alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1 text-secondary">{{product.nombre}}</h5>
                <p><b>Marca: </b>{{product.marca}}</p>
                <p><b>Descripción: </b>{{product.descripcion}}</p>
                <p><b>Precio: </b>{{product.precio}}</p>
                <p><b>Existencia: </b>{{product.existencia}}</p>
                <p *ngFor="let spec of product.especificacion"><b>{{spec.atributo}}:</b> {{spec.valor}} <i>{{spec.unidad}}</i></p>
            </div>
            <div class="media-right col-2 mt-3">
                <div class="row">
                    <button class="btn btn-primary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></button>
                </div>
                <div class="row mt-3">
                    <button class="btn btn-primary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                </div>
                <div class="row mt-3">
                    <button class="btn btn-danger" type="button" (click)="deleteHandler()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></button>
                </div>
            </div>
        </div>
    </div>


</li>